# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Expo
.expo/
.expo-shared/
expo-uploads/

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
.DS_Store
*.pem

# Turborepo
.turbo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db

# Electron
desktop/out/
desktop/dist/
